.login-page {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .login-page .overlap-wrapper {
    background-image: url(./login-page.png);
    background-position: 50% 50%;
    background-size: cover;
    border: 1px none;
    height: 1024px;
    width: 1440px;
  }

  .login-page .overlap {
    background-image: url(./background-blur.svg);
    background-size: 100% 100%;
    height: 1024px;
    left: 1px;
    position: relative;
    width: 1439px;
  }

  .login-page .form-login {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 30px #00000040;
    height: 550px;
    left: 160px;
    position: fixed;
    top: 50px;
    width: 1000px;
  }

  .login-page .notif {
    color: red;
    font-size: 23px;
    font-family: "Inter-Regular", Helvetica;
    text-align: center;
  }


  .login-page .belum-punya-akun {
    color: transparent;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 170px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 475px;
    width: 242px;
  }

  .login-page .text-wrapper {
    color: #717171;
  }

  .login-page .span {
    color: #0075ff;
  }

  .login-page .lupapw {
    color: #0075ff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 17px;
    font-weight: 400;
    left: 230px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 270px;
    width: 256px;
  }

  .login-page .atau {
    color: #717171;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 170px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 380px;
    width: 242px;
  }

  .login-page .button-login {
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    background-color: #00A652;
    color: white;
    height: 55px;
    left: 90px;
    position: absolute;
    top: 310px;
    width: 400px;
  }

  .login-page .overlap-group {
    background-color: #00a652;
    border-radius: 5px;
    height: 65px;
    position: relative;
    width: 455px;
  }

  .login-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 169px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
    width: 117px;
  }

  .login-page .button-login-with {
    background-color: white;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    height: 55px;
    left: 90px;
    position: absolute;
    top: 410px;
    width: 400px;
  }

  .login-page .overlap-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 66px;
    position: relative;
    width: 455px;
  }

  .login-page .text-wrapper-4 {
    color: #404040;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 114px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 225px;
  }

  .login-page .logo-google {
    height: 31px;
    left: 84px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 30px;
  }

  .login-page .notif-alert {
    color: #ff0000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 270px;
    width:200px;
  }

  .login-page .notif-berhasil {
    color: #3700ff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 270px;
    left: 100px;
    width:200px;
  }

  .login-page .kotak-ceklis {
    height: 20px;
    left: 90px;
    object-fit: cover;
    position: absolute;
    top: 270px;
    width: 20px;
  }



  .login-page .text-wrapper-6 {
    color: #717171;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 339px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 444px;
    width: 289px;
  }

  .login-page .logo-password {
    height: 42px;
    left: 277px;
    object-fit: cover;
    position: absolute;
    top: 432px;
    width: 27px;
  }

  .login-page .input-user {
    height: 50px;
    left: 90px;
    position: absolute;
    top: 140px;
    width: 400px;
  }


  .login-page input {
    background-color: #ececec;
    border: 1px solid;
    border-color: #5c5c5c50;
    border-radius: 15px;
    height: 55px;
    position: absolute;
    width: 400px;
  }

  .login-page .input-password {
    height: 60px;
    left: 90px;
    position: absolute;
    top: 210px;
    width: 474px;
  }

  .login-page .text-wrapper-7 {
    color: #717171;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 340px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 366px;
    width: 289px;
  }

  .login-page .logo-user-ID {
    height: 28px;
    left: 277px;
    object-fit: cover;
    position: absolute;
    top: 367px;
    width: 25px;
  }

  .login-page .garis {
    border: 2px solid orangered;
    height: 3px;
    position: absolute;
    left: 70px;
    top: 110px;
    width: 450px;
  }

  .login-page .judul-LOGIN {
    color: #000000;
    font-family: "Itim-Regular", Helvetica;
    font-size: 30px;
    left: 240px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 60px;
    white-space: nowrap;
    width: 114px;
  }

  .login-page .logo-yogya-akademik {
    height: 180px;
    left: 800px;
    position: absolute;
    top: -20px;
    width: 180px;
  }

  .login-page .selamat {
    color: #000000;
    font-family: "Roboto Condensed-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 550px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 140px;
    width: 407px;
  }

  .login-page .gambar-orang {
    height: 180px;
    left: 790px;
    object-fit: cover;
    position: absolute;
    top: 380px;
    width: 180px;
  }

  .login-page .background-blur {
    height: 100%;
    left: 1px;
    position: fixed;
    top: 1px;
    width: 100%;
  }

